# All nodes modules :
node_modules/*

# The secret token :
settings.json

# All data without what-is-data.txt :
resources/configs/*

# Logs:
log/log.txt

# Packagelock
package-lock.json

#temp files
resources/temp/*