# All nodes modules :
node_modules/*

# The secret token :
settings.json

# Logs :
log/log.txt

# Packagelock :
package-lock.json

# Temp files :
resources/temp/*

# PHP Storm user config :
*.xml
*.iml