<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lordos</title>

    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/pages/index.css">
</head>
<body>
    <img src="images/wave.svg" id="wave">

    <header>

    </header>

    <section>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam aliquid inventore facere aperiam expedita qui.</p>
        <p>Nihil tenetur illo maxime esse recusandae, sit, cumque, enim optio facilis ducimus accusantium quos quasi?</p>
        <p>Totam, voluptas delectus fugiat, amet tempora nisi, animi unde expedita aspernatur quod tempore soluta doloremque.</p>
        <p>Nulla, quia? Officia autem placeat quo hic veniam accusantium animi magnam adipisci, accusamus, et perferendis?</p>
        <p>Quam ratione, quos magnam enim mollitia soluta. Laborum ipsam quam alias saepe recusandae optio nobis.</p>
        <p>Sequi laudantium reiciendis, nisi quasi exercitationem minima recusandae, doloremque nobis quaerat facere, pariatur dignissimos eos.</p>
        <p>Blanditiis molestiae doloremque temporibus non animi architecto veniam. Quaerat nemo, nisi perferendis corporis dolores odio!</p>
        <p>Optio placeat assumenda voluptate, nam vero reprehenderit facere error, sapiente ratione, fugiat ipsum commodi. Vitae?</p>
        <p>Corrupti, omnis illum nemo ipsa architecto temporibus nobis similique eum culpa non blanditiis harum ipsum?</p>
        <p>Impedit tempore unde aperiam voluptatibus, dicta cum cumque asperiores ex magnam necessitatibus quae nulla saepe!</p>
        <p>Rerum labore quae sequi rem animi. Neque sint deserunt blanditiis dicta iste rerum voluptatem quia.</p>
        <p>Quam possimus, quo exercitationem, accusantium tempora atque quidem voluptates cupiditate optio vel vero temporibus placeat.</p>
        <p>Nulla corporis expedita facere, velit saepe pariatur error, voluptates dolorum neque commodi adipisci repellendus assumenda.</p>
        <p>Suscipit aperiam iure quaerat numquam, voluptatem ipsa deleniti autem. Necessitatibus cumque ab accusantium placeat dolores.</p>
        <p>Excepturi eligendi earum id ullam. Fugit deleniti excepturi eos fuga quos et, ducimus optio qui?</p>
        <p>Illo nostrum voluptas tempore similique consequuntur doloribus ducimus esse deleniti quae architecto. Veniam, sint repudiandae.</p>
        <p>Qui, totam dignissimos odio delectus eveniet nostrum velit quasi, natus quis omnis iusto, ex aut!</p>
        <p>Et vel odit quas! Natus autem cumque asperiores iusto! Cum eaque necessitatibus totam aliquid odit?</p>
        <p>Cupiditate nisi sint eveniet maxime qui laborum aut facilis, odit, ut quisquam iure eaque? Praesentium?</p>
        <p>Numquam, mollitia natus veritatis, ipsum vel totam nulla dicta dolore rem qui fugiat repudiandae in?</p>
        <p>Fugiat saepe temporibus sequi velit illo tempore, id aliquam odio cumque placeat laborum voluptatum non!</p>
        <p>Fugiat nemo iste est earum quos velit, nulla iure maiores libero voluptas sequi suscipit quis.</p>
        <p>Unde atque quis architecto sed ad rem aliquid, delectus eius error quisquam, iusto, quod quaerat?</p>
        <p>Molestiae nam, quidem esse quos in omnis voluptatum, optio tempora dolorum, repellat odit obcaecati nemo!</p>
        <p>Fugit quo perferendis incidunt, ipsam deleniti pariatur. Placeat perspiciatis modi omnis, velit dolorum delectus officiis.</p>
        <p>Ratione molestiae, ducimus laborum fugit, quo minus quis distinctio excepturi culpa atque obcaecati unde. Itaque!</p>
        <p>Enim asperiores, quae exercitationem, eum porro at dignissimos pariatur repudiandae a voluptatem, doloribus cumque molestiae.</p>
        <p>Exercitationem, officia fugit suscipit minus consectetur eius quaerat sed, perspiciatis dolores veritatis, labore possimus hic?</p>
        <p>Repellendus, nisi, omnis amet ad cupiditate dolores saepe esse aperiam magni, reprehenderit accusantium velit repudiandae!</p>
        <p>Necessitatibus et non animi. Hic dicta ab doloremque nobis ullam quibusdam ut cum sequi? Consequatur.</p>
        <p>Tempora accusamus illo quaerat inventore dolore velit numquam, consectetur cumque dolorum. Distinctio accusamus ex molestias!</p>
        <p>Aperiam vel laudantium, officia voluptates, natus recusandae dolorem enim saepe perspiciatis, iure ut ipsa repudiandae?</p>
        <p>Consequatur sequi explicabo delectus rerum commodi officiis ex nihil perspiciatis animi ratione! Vel, ipsum incidunt.</p>
        <p>Animi voluptates ipsa quis ab at magnam tempora eaque voluptatum impedit itaque. Repellat, iure sed!</p>
        <p>Quas maiores placeat reiciendis quaerat, fugit in ipsam molestiae voluptas, saepe odit sed, ut cupiditate!</p>
        <p>Non neque pariatur voluptatum sit ducimus. Dolorum quo voluptatem totam dolore modi omnis minus blanditiis.</p>
        <p>Minima aspernatur, eligendi iure voluptatum quibusdam cumque eveniet vitae accusamus repellat, consectetur odit? Voluptate, dolores.</p>
        <p>Repudiandae ex maiores qui numquam nesciunt alias molestiae, pariatur unde dolorum harum odit eveniet odio.</p>
        <p>Atque sequi consequuntur est distinctio, cupiditate suscipit nihil, error quos non corporis ipsum amet nisi.</p>
        <p>Corporis totam accusamus tenetur soluta ad eligendi veniam, quod quis, modi fugiat voluptas voluptatem illo!</p>*
    </section>

    <footer>

    </footer>
</body>
</html>